/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

div.table-with-scroll{
    overflow: auto;
    max-height: 50vh;
}

a.navbar-link{
    color: white !important;
}

a.navbar-link:hover{
    color: black !important;
}

div.comment{
    margin-top: 10px;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    width: 50%;
}
div.comment-body{
    padding: 10px;
    width: 100%;
    max-height: 20vh;
    overflow: hidden;
}

div.comment-head{
    background-color: lightgray;
    border-style: solid;
    border-width: 0 1px 1px 0;
    width: 50%;
    overflow: hidden;
    padding: 10px;
    border-radius: 0 0 5px 0;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

